<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Untitled Document</title>
<style type="text/css">
.align-content-end {
    margin-left: 8px;
    margin-bottom: 328px;
}
.align-content-center {
    margin-left: 12px;
    margin-bottom: 247px;
}
.align-content-between {
    margin-left: 21px;
    margin-bottom: 2px;
    margin-top: 21px;
}
.img-fluid2 {
    margin-left: 401px;
    margin-bottom: 14px;
}
.img-fluid3 {
    margin-left: 57px;
    margin-bottom: 13px;
}
.img-fluid {
}

@media (min-width:0px) and (max-width:380px){
}

@media (min-width:381px) and (max-width:800px){
}
</style>
<link href="../css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
<style type="text/css">
body {
    background-color: #f26b76;
}
</style>
</head>

<body>
<div class="box1"><img src="images/index_01.jpg" class="img-fluid" alt="Placeholder image"><img src="images/index_02.jpg" alt="Placeholder image" usemap="#Map" class="img-fluid">
  <map name="Map">
    <area shape="rect" coords="10,10,72,46" href="#">
    <area shape="rect" coords="148,6,256,44" href="#https://techgamingstore_home.netlify.app/">
    <area shape="rect" coords="284,3,468,39" href="#https://techgamingstore_computer.netlify.app/">
    <area shape="rect" coords="478,11,755,42" href="#https://techgamingstore_videogamespc.netlify.app/">
    <area shape="rect" coords="785,5,904,41" href="#https://techgamingstore_deals.netlify.app/">
    <area shape="rect" coords="1062,10,1183,37" href="#">
  </map>
  <img src="images/index_08.jpg" alt="Placeholder image" usemap="#Map3" class="align-content-between">
  <map name="Map3">
    <area shape="rect" coords="18,553,145,599" href="#">
  </map>
  <img src="images/index_05.jpg" alt="Placeholder image" usemap="#Map2" class="align-content-center">
  <map name="Map2">
    <area shape="rect" coords="298,278,513,313" href="#">
  </map>
  <img src="images/index_11.jpg" alt="Placeholder image" usemap="#Map4" class="align-content-end">
  <map name="Map4">
    <area shape="rect" coords="367,197,456,222" href="#">
    <area shape="rect" coords="230,188,324,225" href="#">
  </map>
  <div><img src="images/index_16.jpg" alt="Placeholder image" usemap="#Map5" class="img-fluid2">
    <map name="Map5">
      <area shape="rect" coords="30,242,135,292" href="#">
    </map>
    <img src="images/index_18.jpg" alt="Placeholder image" usemap="#Map6" class="img-fluid3">
    <map name="Map6">
      <area shape="rect" coords="36,244,126,296" href="#">
    </map>
    <img src="images/index_21.jpg" alt="Placeholder image" usemap="#Map7" class="img-fluid3">
    <map name="Map7">
      <area shape="rect" coords="31,243,150,293" href="#">
    </map>
    <img src="images/index_24.jpg" alt="Placeholder image" usemap="#Map8" class="img-fluid3">
    <map name="Map8">
      <area shape="rect" coords="22,246,142,300" href="#">
    </map>
    <img src="images/index_27.jpg" alt="Placeholder image" usemap="#Map9" class="img-fluid3">
    <map name="Map9">
      <area shape="rect" coords="32,247,144,300" href="#">
    </map>
    <div><img src="images/index_35.jpg" alt="Placeholder image" usemap="#Map10" class="card-img">
      <map name="Map10">
        <area shape="rect" coords="1090,4,1143,51" href="#https://www.facebook.com/">
        <area shape="rect" coords="1158,15,1190,50" href="#https://www.instagram.com/">
        <area shape="rect" coords="1209,15,1243,45" href="#https://www.youtube.com/">
      </map>
    &nbsp;</div>
  &nbsp;</div>
</div>
</body>
</html>
